################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InventoryManagementServices/BlazorApp/InventoryManagement/bin/Debug/net6.0/wwwroot/_framework
/InventoryManagementServices/Services/Game/Game.API/bin/Debug/net6.0
/InventoryManagementServices/Services/Game/Game.API/obj
/InventoryManagementServices/BlazorApp/InventoryManagement/bin/Debug/net6.0
/InventoryManagementServices/Services/RefData/RefData.API/bin/Debug/net6.0
/InventoryManagementServices/Services/RefData/RefData.API/obj/Debug/net6.0
