@inherits CommonGameFunctions
@page "/games"


<div class="gamesList">
    <div class="row">
        <div class="col-12 text-right">
            <GameSearch GameSearchStateManagement="_gameSearchStateManagement"></GameSearch>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-12 text-right">
            <MatButton OnClick="@AddGame" Label="Add" Icon="add"></MatButton>

        </div>

    </div>
    <GamesGrid GameSearchStateManagement="_gameSearchStateManagement"></GamesGrid>
</div>