<div>
    <div class="row mb-2">
        <div>
            Games
        </div>
    </div>
    <div class="row mb-2">
        <table>
            <tr>
                <th>Edit</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
            <tbody>
                <tr *ngFor="let game of games">
                    <td><a class="p-2 text-dark" [routerLink]="['/games', game.id]">Edit</a></td>
                    <td>{{game.title}}</td>
                    <td>{{game.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>