<div>
    <div class="row mb-2">
        <div>
            Movies
        </div>
    </div>
    <div *ngIf="movies" class="row mb-2">
        <table>
            <tr>
                <th>Edit</th>
                <th>Title</th>
                <th>Description</th>
                <th>Rating</th>
                <th>Hours</th>
                <th>Minutes</th>
            </tr>
            <tbody>
                <tr *ngFor="let movie of movies">
                    <td><a class="p-2 text-dark" [routerLink]="['/movies', movie.id]">Edit</a></td>
                    <td>{{movie.title}}</td>
                    <td>{{movie.description}}</td>
                    <td>{{movie.movieRating}}</td>
                    <td>{{movie.hours}}</td>
                    <td>{{movie.minutes}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>